
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* 
font-family:ubuntu
 */

 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

 /* 
 font-family: "Noto Sans", sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
body,html{
    width: 100%;
    height: 100%;
    font-size: 16px;

}
#main{
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    background-color: rgb(224, 221, 221);
    box-shadow: 4px 4px 40px rgb(161, 152, 152),
    inset -4px -4px 40px grey;
    height: 95vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* padding: 2px 2px; */
}
header{
    width: 100%;
    height: 15%;
    background-color:rgb(165, 165, 157);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url(zebra.jpg); */
    /* background-size: contain; */
    background-position:right;
    background-repeat: no-repeat;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 1px;

}
/* header */
#mainHeader{

    /* box-shadow: 2px 3px 42px gray; */
    border-radius:5px;
    font-size: 2.5rem;
    background:linear-gradient(to right,rgb(199, 46, 46),
    rgb(12, 141, 226),rgb(49, 49, 38)
    ) ;
    font-weight: 800;
    /* text-shadow: 1px 3px 1px maroon; */
    color: transparent;
    -webkit-background-clip: text;
}
#subHeader{
    color: rgb(73, 72, 72);
    margin-left: 30px;
}
p{
    margin-right: 5px;
}

.active{
    background-color: rgb(185, 180, 180);
    border-radius: 4px;
    padding: 2px 3px;
}

section{
    width: inherit;
    height: 80%;
    /* background-color: black; */
    /* border: 3px solid red; */
    /* background-color: rgb(37, 35, 33); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    /* gap: 15px; */
}
#wordsBoxWrapper{
    /* border:2px solid gray; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 13%;
    width: 100%;
    box-shadow: inset 1px 2px 10px rgb(141, 138, 138);
}
#wordsBox{
    display: flex;
    border-radius: 5px;
    /* border: 2px solid red; */
    /* padding: 4px 10px; */
    font-family: "Noto Sans", sans-serif;
    align-items: center;
    height: 70%;
    /* background-color: navajowhite; */
width: 95%;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow-x: auto;

    overflow-y: hidden;
}


#wordsBox::-webkit-scrollbar {
    display: none;
}

#typingBox{
    height: 8%;
    border: none;
    border-radius: 5px;
    background-color: rgba(207, 202, 202, 0.527);
    box-shadow: inset 2px 2px 3px grey;
    outline: none;
    padding: 2px 10px;
    font-size: 1.1rem;
}





#lowerBox{
    width: 100%;
    /* border: 2px solid white; */
    border-radius: 5px;
    box-shadow: 2px 3px 10px gray;
    padding: 8px 2px;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#typingBox{
    width: 70%;
    height: 80%;
}
.btn{
    width: 10%;
    height: 80%;
    /* padding: 4px 1px; */
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
box-shadow: inset 3px 3px 10px rgb(170, 165, 165),
2px 4px 50px white;
cursor: pointer;
}
.btn:hover i{
    color :cornflowerblue;
}


.btn i{
    color: black;
    font-size: 1.4rem;
    /* top: 30%;
    left: 50%; */
    transition: color 0.2s ease;
    /* transform: translate(-50%,-50%); */
    position: relative;
}
#iTimer{
    font-size: 1.4rem;
}
#seconds{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    /* background:transparent; */
    font-size: 1.5rem;
    text-align: center;
}




.resCont{
visibility: hidden;
}
.resContVisibility{
    visibility: visible;
}

#resultContainer{
 
    /* border: 2px solid green; */
    box-shadow: 2px 3px 4px black,
    inset 2px 4px 5px black;
    width: 40%;
    height: 60%;
    border-radius: 5px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    
}
#resultHead{
    font-size: 1.4rem;
    width: 100%;
    /* background-color: beige; */
  /* height: 14%; */
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
    text-align: center;
    text-shadow: 1px 2px 3px grey;
    font-weight: 700;
}
#wpm{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 97%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    font-size: 1.6rem;
    /* border: 2px solid red; */
    text-align: center;
    /* border-bottom: 2px solid gray; */
}
#typingSpeed{
    color: black;
    font-size: 1.2rem;
    background-color:wheat;
    background: none;
}
.cont{
    width: 97%;
    /* border-bottom: 1px solid gray; */
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    height: 17%;
    /* margin: 2px 4px; */
}
.cont:nth-child(2n+1){
    background-color: rgb(236, 236, 236);
}
.cont:nth-child(2n){
    background-color: rgb(216, 215, 215);
}
.resultCont{
    /* border: 2px solid green; */
    width: 100%;
    padding: 2px 20px;
  
    
}
.resultData{
    font-weight: 700;
    padding-right:20px;
}
.resultDataWrongWord{
    color: red;
    font-weight:700;
    padding-right:20px;
}
.resultDataCorrectWord{
    color: green;
    font-weight:700;
    padding-right:20px;
}
footer{
    background-color: rgb(151, 148, 148);
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    border-radius: 5px;
    justify-content: center;
}

/* feature container styling */

#featuresBtnCont{
    /* border: 2px solid red; */
    /* background-color: aliceblue; */
    width: 100%;
    position: relative;
    height: 15%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.featureBtn{

    width: 15%;
    /* border: 2px solid red; */

    display: flex;
    height: 70%;
    font-size: 1.0em;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    justify-content: center; 
    position: relative;
}
#login{
    width: 12%;
    background-color: rgb(10, 90, 10);
    /* background-color: transparent; */
    color: white;
    /* position: absolute; */
    /* transition: background-color 1s ease; */
}
#login:hover{
    background-color: rgb(6, 65, 6);

}
#difficultyLevel{
    margin-left: 2rem;
    /* height: 20%; */

    width: 17%;
    /* border: 2px solid red; */
    display: flex;
    background-color: black;
    align-items: center;
    /* justify-content: space-between; */

    position: relative;
    color:white;
}

#arrow{
    /* border: 3px solid red; */
    height:80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#arrow i{
transform: rotate(-90deg);
    font-size: 1.7rem;
    color: white;

}


#levels{
    /* border: 2px solid green; */
    width: 120%;
    height: 10rem;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3rem;
    box-shadow: 1px 2px 31px rgb(223, 217, 217), 3px 4px 10px rgb(158, 155, 151);
    left: 7rem;
    /* background-color: rgb(63, 230, 152); */
    border-radius: 5px;
    /* display: none; */
}
#levels li{
    list-style-type: none;
    /* padding-left: 13px; */
    height: 2.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 2px 2px;
    width: 80%;
    justify-content: center;
    box-shadow: 2px 1px 2px rgb(7, 36, 15),
    inset 1px 2px 4px rgb(21, 116, 21);
    background-color: rgb(63, 230, 152);
    /* background-color: blueviolet; */
    
}
#levels li:hover{
    background-color: rgb(62, 212, 82);
}


#loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
visibility: hidden;
    position: absolute;
    width: 40vw;
    height: 60vh;
    background-color:grey;
    top: 50%;
    left :50%;
    border-radius: 5px;
    transform: translate(-50%,-50%);
    box-shadow: 
    inset 2px 4px 10px rgb(83, 82, 82);
  
}
#form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 60vh;
}
#dashBoard{
    /* position: relative; */
    background-color: rgb(172, 179, 179);
    /* border: 2px solid red; */
    border-radius: 4px;
    width: 50vw;
    height: 90vh;
}
#loginContainerHeader{
    width: 100%;
    /* align-items: flex-start; */
    padding: 5px 10px;
    color: white;
    background:linear-gradient(to right ,white,grey,white);
    font-weight: 700;
    font-size: 1.3rem;
    margin: 20px;
    

}
#loginContainer input{
    color: rgb(102, 97, 97);
    font-size: 1.0rem;
    width: 80%;
    border: 1px solid grey;
    border-radius: 7px;
    height: 12%;
    text-align: center;
    background-color: rgb(228, 224, 224);
    margin: 2px ;
    outline: none;
}

#createYourAccount{
    background-color: green;
    width: 80%;
    height: 15%;
    margin: 4px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size:1rem;
    /* transition: all ease 0.3s; */
    border: 2px solid grey;
}
#createYourAccount:hover{
    background-color: rgb(9, 160, 9);
}
.animate {
    animation-name: moveLoginContainer;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    
}
@keyframes moveLoginContainer{
    from{
        top: -10%;
        /* visibility: hidden; */
    }
    to{
        top: 50%;
        visibility: visible;
    }
}
#submitMsg{
    display: none;
}

/* dashboard styling */
#dashBoard
{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
}
#dashBoardTitle{
    font-weight: 800;
}
#nickName{
    width: 100%;
    height: 5vh;
    /* background-color: antiquewhite; */
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}
#hey{
    color: green;
}
#previousRecords{
    /* border: 3px solid ; */
    box-shadow: 1px 2px 3px grey,
   -1px -2px 3px grey;
    width: 50%;
    height:10%;
}
#bigContainer{
    /* border: 2px solid black; */
    /* background-color: rgb(179, 176, 174); */
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#smallContainer{
    position: absolute;
visibility: hidden;
    width: 59.6%;
    padding: 0.4rem ;
    height: 30%;
    /* background-color:rgb(136, 138, 136); */
    box-shadow: inset 2px 3px 10px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.resultContRecords{
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    /* justify-content: center; */
}
#wrapper{
    /* border: 2px solid navajowhite; */
    width: 100%;
    margin: 2px 3px;
    display: flex;
}
.resultDataRecords{
    /* border: 3px solid gold; */
}
#downArrow{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.resultDataWrongWordRecords{
    color: red;
font-weight:800;
}
.resultDataCorrectWordRecords{
    color: green;
font-weight:800;
}
#downArrowOpenUp{
    color: rgb(63, 62, 62);
    font-size: 2rem;
    cursor: pointer;
    transform: rotate(180deg);
}
#downArrowOpenUp:hover{
    color: black;

}